* {margin:0; padding: 0;}
html, body {
height:auto;

}
section { display: inline-block; }

.parallax {
display:none;
font-family: 'Abel', sans-serif;
font-weight:400;
color:#FFF;
margin: 0 auto;
width: 100%;

position: relative;
min-height: auto;
background-position: 50% 0;
background-repeat: no-repeat;
background-attachment: fixed;
}


#home {
background: black;
}


.parallax article {
width: 100%;
text-align: center;
margin:0 auto;
}

#home article { 
padding:05% 0 0; 
}


article header { 
margin-bottom: 30px; 
}

article h1 {
font-family: 'Abel', sans-serif;
font-weight:400;
font-size:40px;
color:#fff;
padding:01% 0 01% 0; 
}

article img {
vertical-align: middle;
width:350px;
max-width: 100%;
height: auto;
}

article p {
line-height: 30px; 
font-size:20px; 
margin-top:15px; 
}

article ul { 
list-style:none; 
padding: 0; 
margin: 0; 
}

article li { 
display: inline-block; 
}



.qwp-bottom {
  line-height: 0;
}

.qwp-bottom .tile {
  width:50.00%;
  min-height:20em;
  line-height: 1.2;
  display:inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  cursor: pointer; 
  cursor: hand;
}

.qwp-bottom h2 {
font-family: 'Abel', sans-serif;
font-weight:400;
color:#fff;
padding:50px 20px 50px 20px;
background-color: rgba(15,15,15,0.5);
font-size:35px;
}

.qwp-bottom .tile:before {
  content: '';
  background-color: rgba(15,15,15,0.5);
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.qwp-bottom .tile:hover:before {
  display: none;
}

.qwp-bottom .tile .textWrapper {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75em;
}

.qwp-bottom .tile:hover .textWrapper .content {
margin:0 auto;
width:50px;
height:auto;
}

.qwp-bottom .tile .textWrapper .content {
  display: block;
}

.qwp-bottom .tile:hover .textWrapper .content h2 {
  margin: 0;
}

@media (max-width: 1000px) {

  .qwp-bottom .tile {
    width: 100%;
    min-height:15em;
    line-height: 1.2;
  }
}
 
@media (max-width: 768px) {

article img {
width:250px;
max-width: 100%;
height: auto;
}

article h1 {
font-size:30px;
}

  .qwp-bottom .tile {
    width: 100%;
    min-height:13em;
    line-height: 1.2;
  }
  
}

@media (max-width: 320px) {

article img {
width:250px;
max-width: 100%;
height: auto;
}

article h1 {
font-size:20px;
}

  .qwp-bottom .tile {
    width: 100%;
    min-height:13em;
    line-height: 1.5;
  }
  
}
